In [ ]:
Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [17]:
#Ans1.
temp="Hello",[43,45,23],45.78,(23)
print(temp)

('Hello', [43, 45, 23], 45.78, 23)

In [4]:
Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.
What will be the data type of the above given variable.

In [ ]:
#Ans2.
i. str
ii. str
iii. list
iv. float

In [ ]:
Q3. Explain the use of the following operators using an example:

(i) /

(ii)	% 

(iii)	//

(iv)	**

In [5]:
#Ans3.
'''i. This operator is used for division purpose, the output from this operator will be in both integer and floating constant
ii. This operator is known as modulus, it gives remainder of any divison process.
iii. This operator is known as floor division and it gives the output only in integer format, if the output is decimal or 
        floating point constant then it will give only integer part of that operator.
iv. This operator is used to do exponent of any number.'''
#Examples-
a=32/6
print(a)
#Output-:5.333333333333
b=32%5
print(b)
#Output-: 2
c=32//6
print(c)
#Output-: 5
d=3**3
print(d)
#Output-: 27

5.333333333333333
2
5
27

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [7]:
#Ans4.
var=[38,67,48,57,53,39,"Malay",87.23,5+6j,25]
for i in var:
    print(i)
    print("Data type:",type(i))

38
Data type: <class 'int'>
67
Data type: <class 'int'>
48
Data type: <class 'int'>
57
Data type: <class 'int'>
53
Data type: <class 'int'>
39
Data type: <class 'int'>
Malay
Data type: <class 'str'>
87.23
Data type: <class 'float'>
(5+6j)
Data type: <class 'complex'>
25
Data type: <class 'int'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [12]:
#Ans5.
a=int(input("A="))
b=int(input("B="))
count=0
while(a<b):
    if(a%b==0):
        count+=1
    a+=1
print(count)

4
30
0

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [13]:
#Ans6.
var1=[26,60,39,36,3,42,44,40,21,25,13,14,58,63,99,95,20,67,81,96,65,12,57,69,42]
for i in var1:
    if(i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

26 is not divisible by 3
60 is divisible by 3
39 is divisible by 3
36 is divisible by 3
3 is divisible by 3
42 is divisible by 3
44 is not divisible by 3
40 is not divisible by 3
21 is divisible by 3
25 is not divisible by 3
13 is not divisible by 3
14 is not divisible by 3
58 is not divisible by 3
63 is divisible by 3
99 is divisible by 3
95 is not divisible by 3
20 is not divisible by 3
67 is not divisible by 3
81 is divisible by 3
96 is divisible by 3
65 is not divisible by 3
12 is divisible by 3
57 is divisible by 3
69 is divisible by 3
42 is divisible by 3

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property

In [14]:
#Ans7.
'''Mutable data types are those data type which can be easily modify its values present in its data collection.
Eg- Lists,Dictionaries,Sets
Immutable data types are those data types in which no change can occur over time, the values of this data types are fixed.
Eg- Tuple,Strings'''
#Example for Mutable Data types
var3=[36,455,96,12]
var3.append(25)
print(var3)
var4=(23,96,45)
var4.append(64)
print(var4)

[36, 455, 96, 12, 25]

AttributeError: 'tuple' object has no attribute 'append'