In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases
#Ans1.
A database is, an organized collection of data from which users can efficiently retrieve the desired information. A 
database consists of four components-
a. Data Item
b. Relationships
c. Constraints
d. Schema

#Difference between SQL and NoSQL
SQL-
* SQL stands for Structured Query Language
* It contains data in the format of table(i.e. rows and columns)
* Vertically Scalable
* Examples- MySQL, Oracle, Sybase, Informix, MS Access
NoSQL-
* NoSQL stands for Not Only Structured Query Language
* It contains the data in key and value format.
* Horizontally Scalable
* Examples- MongoDB,Neo4j, Cassandra

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
#Ans2.
DDL stands for Data definition Language describes the portion of SQL that creates, alters, and deletes database objects.
These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions and
aliases.

#Use of CREATE
SQL provides the CREATE TABLE statement to create a new table in a given database. An SQL query to create a table must
define the structure of a table.
#Example-
CREATE TABLE S1(
Name     VARCHAR(20) NOT NULL
Age      INT NOT NULL,
Address  CHAR(25));

#Use of DROP
The SQL DROP TABLE statement is a Data Definition Language(DDL) command that is used to remove a table's definition.
#Example
DROP TABLE S1;

#Use of ALTER
The ALTER table statement in SQL is used to add, remove, or modify columns in the existing table.The ALTER table is also
used to add or remove constraints in the tables.
#Example
ALTER TABLE Students
ADD Email varchar(255);

#Use of TRUNCATE
TRUNCATE command is used to remove all of the rows from a table, regardless of whether or not any conditions are met and
resets the table definition. It is DDL command.
#Example
TRUNCATE TABLE table_name;
table_name: Name of the table to be truncated.
DATABASE name- student_data

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
#Ans3.
DML stands for Data Manipulation Language, it is a class of SQL statements that are used to query, edit, add and delete
row-level data from database tables.
#Use of INSERT
Insert is another most important data manipulation command in Structured Query Language, which allows users to insert
data in database tables.
#Example
INSERT INTO TABLE_NAME(column_Name1, column_Name2, column_Name3) VALUES(value_1, value_2,value_3);

#Use of UPDATE
UPDATE is another most important daata manipulation command in Structured Query Language, which allows users to update or
modify the existing data in database tables.
#Example
UPDATE Table_name SET [column_name1= value1,.....,columns_nameN=value_N] WHERE CONDITION;

#Use of DELETE
Delete is DML command which allows SQL users to remove single or multiple single or multiple existing records from the
database tables.
#Example
DELETE FROM Table_Name WHERE condition;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
#Ans4.
The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL sub-languages. The SQL sub 
languages have four major categories, DQL,DDL,DCL and DML.

#Use of Select
The SELECT statement is used to select data from a database.
#Examples
SELECT CustomerName, City FROM Customers;

In [ ]:
Q5. Explain Primary Key and Foreign Key.
#Ans5.
Primary Key is used to ensure data in the specific column is unique. It uniquely identifies a record in the relational 
database table. It does not allow NULL values.
Foreign Key is a column or group of columns in a relational database table that provides a link between data in two tables.
It refers to the field in a table which is the primary key of another table. It can also contain NULL value

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
#Ans6.
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

In [ ]:
#Cursor()-
A cursor is an object which helps to execute the query and fetch and records from the database. The cursor plays a very
important role in executing the query.

#Execute()-
This method executes the given database operation(query or command). The parameters found in the tuple or dictionary params
are bound to the variables in the operation.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
#Ans7.
1. from-: It choose and join tables to get base data.
2. where-: Filters the base data.
3. group by-: Aggregates the base data.
4. having-: Filters the aggregated data.
5. select-: Returns the final data.
6. order by-: Sorts the final data.
7. limit-: Limits the returned data to a row count.